.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54b6da;
  width: 100%;
  font-family: "Bree Serif";
  position: fixed;
}

@media screen and (max-width: 768px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.website-logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-link {
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #1a1b1b;
}

.nav-menu-mobile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}

.nav-menu-list-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #e6f6ff;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav-menu-item-mobile {
  margin: 0px;
  cursor: pointer;
}

.nav-bar-image {
  width: 24px;
}

.profile-pic {
  height: 50px;
  width: 50px;
  border: black;
  border-radius: 20px;
}
.nav-mobile-icons {
  color: #2e333a;
}
